.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu .login {
    display: flex;
    gap: 10px;
}

.menu Button{
    text-transform: capitalize;
    width: 100px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


